pkgbase = gnome-shell
	pkgdesc = Next generation desktop shell
	pkgver = 45.0+18292+c4fcc8213
	pkgrel = 1
	url = https://wiki.gnome.org/Projects/GnomeShell
	arch = x86_64
	groups = gnome
	license = GPL
	makedepends = git
	makedepends = meson
	makedepends = sassc
	makedepends = asciidoc
	makedepends = gtk-doc
	makedepends = bash-completion
	makedepends = gnome-control-center
	makedepends = gobject-introspection
	makedepends = evolution-data-server
	depends = unzip
	depends = upower
	depends = gjs
	depends = mutter
	depends = libibus
	depends = libgdm
	depends = libcanberra-pulse
	depends = libsecret
	depends = libsoup3
	depends = gtk4
	depends = accountsservice
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gsettings-desktop-schemas
	depends = libadwaita
	depends = libgweather-4
	depends = libnma-gtk4
	depends = gnome-autoar
	depends = gcr-4
	source = git+https://gitlab.gnome.org/GNOME/gnome-shell.git
	source = git+https://gitlab.gnome.org/GNOME/libgnome-volume-control.git
	b2sums = SKIP
	b2sums = SKIP

pkgname = gnome-shell
