pkgbase = pacman
	pkgdesc = A library-based package manager with dependency support
	pkgver = 6.0.1+7277+3c28c301
	pkgrel = 1
	url = https://www.archlinux.org/pacman
	arch = x86_64
	license = GPL
	depends = curl
	depends = bash
	depends = grep
	depends = gawk
	depends = gpgme
	depends = glibc
	depends = gnupg
	depends = gettext
	depends = coreutils
	depends = libarchive
	depends = alhp-keyring
	depends = alhp-mirrorlist
	depends = pacman-mirrorlist
	depends = git
	depends = meson
	depends = mold
	depends = pigz
	depends = polly
	depends = clang
	depends = libc++
	depends = pbzip2
	depends = ccache
	depends = openmp
	depends = sccache
	provides = libalpm.so
	source = pacman.conf
	source = makepkg.conf
	source = git+https://gitlab.archlinux.org/pacman/pacman.git
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = pacman
