[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
GenericName[pl]=Przeglądarka WWW
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/usr/lib/firefox/firefox --class="firefox-nightly" %u
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox-nightly
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[pl]=Nowe okno
Exec=/usr/lib/firefox/firefox --class="firefox-nightly" --new-window %u

[Desktop Action new-private-window]
Name=New Private Window
Name[pl]=Nowe okno prywatne
Exec=/usr/lib/firefox/firefox --class="firefox-nightly" --private-window %u
